<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="crm.om.mapper.OrderInfoMapper">

    <select id="qryNormalOrder" parameterType="String" resultType="java.util.Map">
        select bizcont_key, bizcont_value, create_time
        from or_ordlinecont_info_his
        where bizcont_key = (select bizcont_key from or_orderline_info_his where order_line_id = #{orderLineId})
    </select>

    <select id="qryAbnormalOrder" parameterType="String" resultType="java.util.Map">
        select bizcont_key, bizcont_value, create_time
        from or_ordlinecont_info_his
        where bizcont_key = (select bizcont_key from or_orderline_info where order_line_id = #{orderLineId})
    </select>
</mapper>
